CROUDClientesConsumidorServidorWeb/CROUDClientesConsumidorServidorWeb/Web References/localhost/CROUDClientesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="primerApellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="segundoApellido" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarClienteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EliminarClienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MostrarClientes">
        <s:complexType />
      </s:element>
      <s:element name="MostrarClientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MostrarClientesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AztualizarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="primerApellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="segundoApellido" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fechaAfiliacion" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AztualizarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AztualizarUsuarioResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FiltrarClientes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fechaInicio" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="fechaFinal" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FiltrarClientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FiltrarClientesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarCliente" />
  </wsdl:message>
  <wsdl:message name="InsertarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarCliente" />
  </wsdl:message>
  <wsdl:message name="EliminarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="MostrarClientesSoapIn">
    <wsdl:part name="parameters" element="tns:MostrarClientes" />
  </wsdl:message>
  <wsdl:message name="MostrarClientesSoapOut">
    <wsdl:part name="parameters" element="tns:MostrarClientesResponse" />
  </wsdl:message>
  <wsdl:message name="AztualizarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:AztualizarUsuario" />
  </wsdl:message>
  <wsdl:message name="AztualizarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:AztualizarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="FiltrarClientesSoapIn">
    <wsdl:part name="parameters" element="tns:FiltrarClientes" />
  </wsdl:message>
  <wsdl:message name="FiltrarClientesSoapOut">
    <wsdl:part name="parameters" element="tns:FiltrarClientesResponse" />
  </wsdl:message>
  <wsdl:portType name="CROUDClientesServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Muestra un mensaje de bienvenida.</wsdl:documentation>
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarCliente">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Inserta un nuevo usuario.</wsdl:documentation>
      <wsdl:input message="tns:InsertarClienteSoapIn" />
      <wsdl:output message="tns:InsertarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCliente">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Elimina un cliente mediante su ID. Es necesario conocer el identificador del cliente previamente.</wsdl:documentation>
      <wsdl:input message="tns:EliminarClienteSoapIn" />
      <wsdl:output message="tns:EliminarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MostrarClientes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Muestra todos los usuarios dados de alta.</wsdl:documentation>
      <wsdl:input message="tns:MostrarClientesSoapIn" />
      <wsdl:output message="tns:MostrarClientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AztualizarUsuario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Muestra todos los usuarios dados de alta.</wsdl:documentation>
      <wsdl:input message="tns:AztualizarUsuarioSoapIn" />
      <wsdl:output message="tns:AztualizarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FiltrarClientes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Filtra los clientes por nombre y fecha de afiliación,</wsdl:documentation>
      <wsdl:input message="tns:FiltrarClientesSoapIn" />
      <wsdl:output message="tns:FiltrarClientesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CROUDClientesServiceSoap" type="tns:CROUDClientesServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarCliente">
      <soap:operation soapAction="http://tempuri.org/InsertarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCliente">
      <soap:operation soapAction="http://tempuri.org/EliminarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarClientes">
      <soap:operation soapAction="http://tempuri.org/MostrarClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AztualizarUsuario">
      <soap:operation soapAction="http://tempuri.org/AztualizarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FiltrarClientes">
      <soap:operation soapAction="http://tempuri.org/FiltrarClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CROUDClientesServiceSoap12" type="tns:CROUDClientesServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarCliente">
      <soap12:operation soapAction="http://tempuri.org/InsertarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCliente">
      <soap12:operation soapAction="http://tempuri.org/EliminarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarClientes">
      <soap12:operation soapAction="http://tempuri.org/MostrarClientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AztualizarUsuario">
      <soap12:operation soapAction="http://tempuri.org/AztualizarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FiltrarClientes">
      <soap12:operation soapAction="http://tempuri.org/FiltrarClientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CROUDClientesService">
    <wsdl:port name="CROUDClientesServiceSoap" binding="tns:CROUDClientesServiceSoap">
      <soap:address location="http://localhost:64881/CROUDClientesService.asmx" />
    </wsdl:port>
    <wsdl:port name="CROUDClientesServiceSoap12" binding="tns:CROUDClientesServiceSoap12">
      <soap12:address location="http://localhost:64881/CROUDClientesService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>